/*body*/
body{
  background-color: #E0E0E0!important;
}
/* text styles */
.text-center {
  text-align: center;
}
/* padding */
.left {
  padding-left: 7px!important;
}
.right {
  padding-right: 7px!important;
}
/*spacing */
.spacing-top {
  margin-top: 15px;
}
.center-image {
  display:block;
  margin:auto;
}
.title-block {
  background-color: #00AEEF;
  height: 30px;
  height: 40px;
  margin: 0;
  color: white;
  box-shadow: -3px 8px 4px -3px rgba(0,0,0,0.59);
}
.menu-block {
  height: 75px;
  width: 4em;
  margin: 0;
  color: black;
  text-align: center;
  border: 1px solid black;
  bottom: 0;
}
.small-block {
  height: 100px;
  background-color: white;
  box-shadow: -3px 4px 4px -3px rgba(0,0,0,0.59);
}
.main-title-block {
  background-color: #001F56;
  height: 50px;
  margin: 0;
  color: white;
  }
.block-2 {
  background-color: #00AEEF;
  height: 40px;
}
.calendar-background {
  background-color: white:inherit;
  height: 200px;
}
.calendar {
  background-color: #00AEEF;
  height: 50px;
}
.title {
}
.content-title {
  font-size: 16px;
  color: white;
  padding-top: 7px;
}
.content-title-2 {
  font-size: 16px;
  color: white;
  padding-top: 7px;
}
.date {
  background-color: white;
  /* box-shadow: 0px 1px 1px 1px; */
  -webkit-box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.59);
  box-shadow: -3px 4px 4px -3px rgba(0,0,0,0.59);
}
.menu-1 {
  bottom: 0;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.icon {
  height: 70px;

}
