<<<<<<< HEAD:style.css
<<<<<<< HEAD
/*body*/
body {
  background-color: #red;
=======
body {
<<<<<<< HEAD
  background-color: grey!important;
>>>>>>> 7b28c33a89d5a28e4b8ea9d1efb870996c1107e2
=======
  background-color: #E0E0E0!important;
>>>>>>> 076ed5f67464aedd056778e252dd024cdeae926a
=======
body {
  background-color: #E0E0E0!important;
>>>>>>> 06bb36c152f64e6e0ae2db4bd074e5df45288926:style-nathan.css
}
/* text styles */
.text-center {
  text-align: center;
}
/* padding */
.left {
  padding-left: 7px!important;
}
.right {
  padding-right: 7px!important;
}
/*spacing */
.spacing-top {
  margin-top: 15px;
}
.center-image {
  display:block;
    margin:auto;
    margin-top: 24px;
}
.title-block {
  background-color: #00AEEF;
<<<<<<< HEAD:style.css
<<<<<<< HEAD
  height: 30px;
=======
=======
>>>>>>> 06bb36c152f64e6e0ae2db4bd074e5df45288926:style-nathan.css
  height: 40px;
>>>>>>> 7b28c33a89d5a28e4b8ea9d1efb870996c1107e2
  margin: 0;
  color: white;
}
.small-block {
<<<<<<< HEAD:style.css
  height: 100px;
  border: 1px solid black;
=======
>>>>>>> 06bb36c152f64e6e0ae2db4bd074e5df45288926:style-nathan.css
  background-color: white;
}
.main-title-block {
  background-color: #001F56;
  height: 50px;
  margin: 0;
  color: white;
  }
.block-2 {
  background-color: #00AEEF;
  height: 40px;
}
.calendar-background {
  background-color: white:inherit;
  height: 200px;
}
.calendar {
  background-color: #00AEEF;
  height: 50px;
}
.title {
}
.content-title {
  font-size: 16px;
  color: white;
  padding-top: 7px;
}
.content-title-2 {
  font-size: 16px;
  color: white;
  padding-top: 7px;
}
.date {
  border: 1px solid black;
  background-color: white;
}
.menu {
  border: 1px solid black;
  height: 75px;
  bottom: 0;
}
.menu-1 {
  bottom: 0;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
