.block {
  background-color: blue;
  width: 375px;
  height: 50px;
}
.calender {
  margin-top: 15px;
  background-color: blue;
  width: 375px;
  height: 50px;
}
.title {
  font-size: 24px;
  color: white;
  text-align: center;
}
