.menu-block1 {
  height: 4.3em;
  margin: 0;
  color: #6F6F6F;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  bottom: 0;
  background-color: white;
  padding-top: 0.4em;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  font-size: 0.9em;
}