.dot {
    height: 40px;
    width: 40px;
    background-color: #001F56;
    border-radius: 50%;
    display: inline-block;
}

.dot-ophaaldag {
    height: 45px;
    width: 45px;
    background-color: #00AEEF;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
}

.sorteren {
	background-color: white;
	color: #A1A1A1;
	width: 100%;
	height: 37px;
	border: none;
}
 
.containernaam {
	font-weight: bold;
	margin-top: 10px;
}

.containerlocatie {
	margin-top: -18px;
}