/*body*/
body{
  background-color: #E0E0E0!important;
}
/* links */
a:link, a:visited, a:hover, a:active {
  color: unset;
}
/* margins */
.no-margin {
  margin: 0;
}
/* text styles */
.text-center {
  text-align: center;
}
.text-block {
  background-color: white;
  padding: 10px;
  box-shadow: -3px 4px 4px -3px rgba(0,0,0,0.59);

}
.italic {
  font-style: italic;
}
/* padding */
.padding {
  padding: 5px;
}
.left { /*padding left */
  padding-left: 7px!important;
}
.left-b { /* padding left - bigger */
  padding-left: 14px!important;
}
.right {
  padding-right: 7px!important;
}
.top {
  padding-top: 12px!important;
}
/*spacing */
.spacing-top {
  margin-top: 15px;
}
.center-image {
  display:block;
  margin:auto;
}
.title-block {
  background-color: #00AEEF;
  height: 30px;
  height: 40px;
  margin: 0;
  color: white;
  box-shadow: -3px 8px 4px -3px rgba(0,0,0,0.59);
  padding: ;
  padding: 8px 0px 0px 9px;
}
.menu-block {
  height: 75px;
  width: 4em;
  margin: 0;
  color: black;
  text-align: center;
  border: 1px solid black;
  bottom: 0;
}
.small-block {
  height: 100px;
  background-color: white;
  box-shadow: -3px 4px 4px -3px rgba(0,0,0,0.59);
}
.main-title-block {
  background-color: #001F56;
  height: 50px;
  margin: 0;
  color: white;
  }
.block-2 {
  background-color: #00AEEF;
  height: 40px;
}
.calendar-background {
  background-color: white:inherit;
  height: 200px;
}
.calendar {
  background-color: #00AEEF;
  height: 50px;
}
.calender-title {
  padding: 8px 0px 0px 16px;
}
.title {
}
.content-title {
  font-size: 16px;
  color: white;
  padding-top: 7px;
}
.content-title-2 {
  font-size: 16px;
  color: white;
  padding-top: 7px;
}
.date {
  background-color: white;
  box-shadow: -3px 4px 4px -3px rgba(0,0,0,0.59);
}
.menu-1 {
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-top: 20px;
  background-color: white;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.icon {
  height: 70px;
}
.icon-large {
  width: 158px;
  height: 100px;
  overflow: hidden;
}

.back {
  position: absolute;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
}
/* kalender */
.papier {
  height: 20px;
  width: 20px;
  background-color: #2D9CDB;
}
.groene {
  height: 20px;
  width: 20px;
  background-color: #27AE60;
}
.grijze {
  height: 20px;
  width: 20px;
  background-color: #4F4F4F;
}
.plastic {
  height: 20px;
  width: 20px;
  background-color: #F2994A;
}
.dag {
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid black;
}

.legenda {
  font-size: 12px;
}
/* bedrijven */
.timestamp {
  color: grey;
}
.melding {
  font-size: 14px;
  color: lightgrey;
}
